.border {
  border: 1px solid red;
}
.banner:nth-child(1) {
  background-image: url(../../../Desktop/Images/worship/armsout.jpg);
  background-size: cover;
  background-position: 0 -200px;
}
.banner:nth-child(2) {
  background-image: url(../../../Desktop/Images/worship/guitar.jpg);
  background-size: cover;
  background-position: 0 -80px;
}
.banner:nth-child(3) {
  background-image: url(./Images/bulb.jpg);
  background-size: cover;
}
.banner:nth-child(5) {
  background-image: url(./Images/bulb.jpg);
  background-size: cover;
}

.banner-no-flex {
  padding: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio {
  padding-bottom: 4%;
}

.banner-no-flex h1,
.col-11 {
  text-align: center;
  margin: 0 auto;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.5em;
}

.about-container p {
  margin: 0 auto;
  letter-spacing: 0.05em;
  padding: 0 10% 10% 10%;
}
.about-container h1 {
  position: relative;
  top: -100px;
  left: 0;
}
#header {
  font-family: 'Dancing Script', cursive;
}
#footer {
  color: #fff;
}
.about-container .col-10 {
  float: right;
}
/*.about p {
}*/
.about-container .col-2 {
  float: left;
}
.about-container .col-3 {
  float: right;
}
h1 {
  font-size: 5rem;
}

footer {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
