.border {
  border: 1px solid red;
}

body {
  background-image: url('./Images/mountains2.jpg');
  /*background-repeat: none;*/
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: absolute;
  top: 0;
  height: 40px;
}

.nav ul {
  list-style: none;
  opacity: 0.7;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

.landing-img-container {
  position: relative;
}

.landing-img-container h1 {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 0;
  font-size: 3.5em;
}

.landing-img-container img {
  width: 100%;
  height: 650px;
  opacity: 0.95;
}

.test {
  height: 500px;
}

.main-content {
  position: relative;
  background-color: #fff;
  top: -55px;
  height: 300px;
  text-align: center;
  overflow: hidden;
}

.portfolio-container {
  position: relative;
  background-color: #fff;
  text-align: center;
}

.left {
  position: absolute;
  left: 0;
  top: 5em;
}
.right {
  position: absolute;
  right: 0;
  top: 5em;
}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem;
}

.portfolio-content {
  background-color: #fff;
  position: relative;
  top: 20px;
  margin: 0 auto;
  z-index: 1;
}

.portfolio {
  position: relative;
  top: 2px;
  margin: 0 auto;
}
.quote {
  border: 1px solid white;
  position: relative;
  top: 60px;
  margin: 0 auto;
}

p {
  color: #586063;
  letter-spacing: 2;
  font-size: 2.5em;
}

footer {
  background-color: #586063;
  height: 200px;
  right: 0;
  bottom: 0;
  left: 0;
}
