/* number of columns = c

in a 12 grid system the width is found by
(c * 60) + ((c-1)*20)

Example:

5 columns

(5 * 60) + ((5-1)*20) = 380 px
________________________________________________________
for 16 grid system the formula will be
(c * 40) + ((c-1)*20)
*/
* {
  /*border:1px solid red;*/
}

.border{
  border:1px solid red;
}

.nav ul {
  list-style: none;
  background-color: #444;
  opacity: 0.9;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    /*border-bottom: none;*/
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}


.header img{
  height:500px;
  width:100%;
  opacity: 0.8;
}

.container {
  position: relative;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container_12 {
  text-align: center;
  margin-left: 1.0417%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container .npy{
  filter: blur(30px)
}

.container h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

.container .finished:hover{
  /*opacity: 0.8;*/
  filter: blur(5px);
}

.grid p{
  color:white;
  font-size: 1.4em;
}

.grid div {
  background-color: #49C6D8;
  margin: auto;
}

span{
  color:black;
}
.col-12{
  width:97.9166%; /*     (940/960) x 100     */
}

.col-11{
  width:89.5833%; /*     (840/960) x 100     */
}

.col-10{
  width:81.25%; /*       (780/960) x 100     */
}

.col-9{
  width:72.9166%; /*     (700/960) x 100     */
}

.col-8{
  width:64.5833%; /*     (620/960) x 100     */
}

.col-7{
  width:56.25%; /*       (540/960) x 100     */
}

.col-6{
  width:47.9166%; /*     (460/960) x 100     */
}

.col-5{
  width:39.5833%; /*     (380/960) x 100     */
}

.col-4{
  width:31.25%; /*     (300/960) x 100     */
}

.col-3{
  width:22.9166%; /*     (220/960) x 100     */
}

.col-2{
  width:14.5833%; /*     (140/960) x 100     */
}

.col-1{
  width:6.25%; /*     (60/960) x 100     */
}